
@import '../../style/variables';
@import '../../style/mixins';

.Person {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-capsule {
    position: relative;
    width: capsuleWidth;
    height: capsuleHeight;
    border-radius: capsuleWidth * 0.5;
    transform-origin: bottom left;
    transform: rotate(capsuleRotation);
    margin-bottom: _margin*6;
    overflow: hidden;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: background-color 0.4s;
    }

    &:hover {

      &:after {
        background-color: overlayColor_dark;
      }

      .Person-job {
        bottom: _margin*5;
        opacity: 1;
      }
    }
  }

  &-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    backface-visibility: hidden;
    transform: translate(-50%, -50%) rotate(-(capsuleRotation));
  }

  &-job {
    position: absolute;
    display: block;
    z-index: 1;
    width: 0;
    right: 2em;
    bottom: 0;
    font-size: 1em;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    line-height: 0;
    opacity: 0;
    color: shadowColor;
    backface-visibility: hidden;
    transform: rotate(-90deg);
    transition: bottom 0.4s, opacity 0.4s;
  }

  &-firstname, &-lastname {
    width: 50%;
    text-transform: uppercase;
    color: fontColorSecondary;
  }

  &-lastname {
    color: fontColor;
    margin-left: _margin * 3;
  }
}
