
@import '../../style/variables';
@import '../../style/mixins';

.Person {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-capsule {
    position: relative;
    width: capsuleWidth;
    height: capsuleHeight;
    border-radius: capsuleWidth * 0.5;
    transform-origin: bottom left;
    transform: rotate(capsuleRotation);
    margin-bottom: _margin * 5;
    overflow: hidden;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: background-color 0.4s;
    }

    &:hover {

      &:after {
        background-color:  overlayColor_dark;
      }

      .Person-job {
        bottom: _margin*5;
        opacity: 1;
      }

      .Person-image {
        transform: translate(-47%, -53%) scale(0.95) rotate(-(capsuleRotation));
      }

      & ~ .Person-firstname {
        margin-left: _margin * 4;
        opacity: 1;
      }

      & ~ .Person-lastname {
        margin-left: _margin * 6;
        opacity: 1;
      }
    }
  }

  &-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    backface-visibility: hidden;
    transform: translate(-50%, -50%) rotate(-(capsuleRotation));
    transition: 0.4s;
  }

  &-job {
    position: absolute;
    display: block;
    z-index: 1;
    width: 0;
    right: 2em;
    bottom: 0;
    font-size: 1em;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    line-height: 0;
    opacity: 0;
    color: shadowColor;
    backface-visibility: hidden;
    transform: rotate(-90deg);
    transition: bottom 0.4s, opacity 0.4s;
  }

  &-firstname, &-lastname {
    width: 50%;
    text-transform: uppercase;
    color: fontColorSecondary;
    opacity: 0;
    transition: 0.4s;
  }

  &-lastname {
    color: fontColor;
    margin-left: _margin * 3;
  }

  +mobile() {
    &-capsule {
      width: capsuleWidth_mobile;
      height: capsuleHeight_mobile;
      border-radius: capsuleWidth_mobile * 0.5;
      transform-origin: bottom left;
      margin: 0;

      &:hover {

        .Person-job {
          bottom: _margin;
        }

        & ~ .Person-firstname {
          margin-left: -(_margin * 7);
          opacity: 1;
        }

        & ~ .Person-lastname {
          margin-left: (_margin * 20);
          opacity: 1;
        }
      }
    }

    &-job {
      right: 1em;
    }

    &-firstname, &-lastname {
      width: 120%;
    }

    &-firstname {
      text-align: right;
    }

    &-lastname {
      margin-top: -(_margin * 8);
    }
  }
}
