@import '../../style/variables';
@import '../../style/mixins';

.Gradient {
  transition 0.2

  &_purple {
    background linear-gradient(45deg, #BE87C4, #B2A2DA);
  }
  &_green {
    background linear-gradient(135deg, #AEE6C8, #94DADB);
  }
  &_red {
    background linear-gradient(135deg, #D68598, #D68598);
  }
}
