
@import '../../style/variables';
@import '../../style/mixins';

.Title {
  position: relative;
  padding-bottom: 0.3em;
  color: fontColorSecondary;
  font-size: 3.5em;
  letter-spacing: _margin;
  line-height: 0.8em;
  font-family: 'circularstd-medium';

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    max-width: 400px;
    height: 1px;
    margin-top: _margin;
    background-color: lineColor;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  &-hidden {
    &:after {
      width: 0px;
    }
  }

  +mobile() {
    font-size: 2.9em;
    letter-spacing: _margin * 0.75;
  }
}
