
@import '../../../style/variables';
@import '../../../style/mixins';

.Project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-column {
    position: relative;

    &_left {
      width: 20%;
    }

    &_right {
      width: 70%;
    }
  }

  &-title {

    span:first-child {
      color: fontColor;
      font-size: 0.35em;
      letter-spacing: 5px;
    }
  }

  &-subtitle {
    margin: _margin * 2 0;
    color: fontColorSecondary;
    font-style: italic;
    font-size: 1.5em;
    font-weight: lighter;
  }

  &-paragraph {
    width: 90%;
  }

  &-cube, &-notes {
    center();
  }

  &-cube {
    opacity: 0.9;
  }

  &-notes {
    width: 450px;
  }

  +mobile() {
    height: 250px;
    flex-direction: column-reverse;
    justify-content: center;

    &-column_left, &-column_right {
      width: 90%;
      height: 35%;
    }

    &-subtitle {
      font-size: 1.1em;
      margin-bottom: 0;
    }

    &-paragraph {
      display: none;
    }
  }
}
