
@import '../../../style/variables';
@import '../../../style/mixins';

.Project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-column {
    position: relative;

    &_left {
      width: 40%;
    }

    &_right {
      width: 50%;
    }
  }

  &-titleHead {
    text-transform: uppercase;
    color: fontColor;
    font-family: 'circularstd-bold';
    font-size: 1.1em;
    letter-spacing: 5px;
    margin-bottom: _margin * 0.5;
    text-indent: 2px;
  }

  &-subtitle {
    margin: _margin * 2 0;
    color: fontColorSecondary;
    font-style: italic;
    font-size: 1.5em;
    font-weight: lighter;
  }

  &-paragraph {
    text-align: justify;
    margin-bottom: _margin;
  }

  &-cube, &-notes {
    center();
  }

  &-cube {
    opacity: 0.9;
  }

  &-notes {
    width: 450px;
  }

  +mobile() {
    height: 250px;
    flex-direction: column-reverse;
    justify-content: center;

    &-column_left, &-column_right {
      width: 90%;
      height: 35%;
    }

    &-subtitle {
      font-size: 1.1em;
      margin-bottom: 0;
    }

    &-paragraph {
      display: none;
    }
  }
}
