
@import '../../style/variables';
@import '../../style/mixins';

buttonHeight = 2.5em;

roundButton(size, sprite){
  circle(size);
  icon(size, sprite);
  display: block;
  border: 0;
  margin: 0;
  padding: 0;

  &:hover {
    margin: 0;
    padding: 0;
  }
}

.Button {
  font-size: 0.7em;
  border-radius: buttonHeight;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 3px solid fontColor;
  color: fontColor;
  padding: _margin*0.5 _margin*1.8;
  margin: _margin*0.5 0;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    margin-top: _margin*0.25;
    margin-bottom: _margin*0.75;
    padding-top: _margin*0.3;
    padding-bottom: _margin*0.7;
  }

  &_green {
    border-color: validColor;
    color: validColor;
  }

  &_play {
    roundButton(_margin*6, 0);

    &:hover {
      transform: rotate(120deg);
    }
  }

  &_pause {
    roundButton(_margin*6, 2);

    &:hover {
      transform: rotate(180deg);
    }
  }

  &_close {
    roundButton(_margin*3, 3);
    position: absolute;
    top: _margin*2;
    right: _margin*3;
    transition: 0.2s;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
