
@import '../../../style/variables';
@import '../../../style/mixins';

.Team {
  transform: translate(-(cos(capsuleRotation)*(capsuleHeight))+(cos(capsuleRotation)*(capsuleWidth)), 0);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    width: 50%;
  }

  &-persons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -(_margin*4);
    margin-left: 5%;
  }

  &-person {
    width: 20%;
  }

  +mobile() {
    transform: none;

    &-title {
      display: none;
    }

    &-persons {
      // center();
      transform: translate(-(cos(capsuleRotation)*(capsuleHeight_mobile))+(cos(capsuleRotation)*(capsuleWidth_mobile))*2.5, -(cos(capsuleRotation)*(capsuleHeight_mobile))+(cos(capsuleRotation)*(capsuleWidth_mobile)));
      margin-top: 0;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    &-person {
      height: capsuleWidth_mobile * 2;
    }
  }
}
