
@import '../../../style/variables';
@import '../../../style/mixins';

.Team {

  &-persons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-person {
    width: 20%;
  }

}
