
@import '../../style/variables';
@import '../../style/mixins';

.Home {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: auto;
  // overflow: hidden;

  &-section {
    position: relative;
    box-sizing: border-box;
    width: 60%;
    max-width: 1366px;
    height: 500px;
    margin: auto;
    padding-top: _margin * 7;
    padding-bottom: _margin * 4;

    +mobile() {
      width: 90%;
    }
  }
}
