@import '../../style/variables';
@import '../../style/mixins';

.Logo {
  center();
  width: 100%;

  &-title {
    position: absolute;
    color: transparent;
    pointer-events: none;
  }

  &-canvas {
    width: 100%;
  }
}
