
@import '../../../style/variables';
@import '../../../style/mixins';

videoWidth = 800px;
videoHeight = ((videoWidth * 56.25) / 100);
paragraphWidth = videoWidth / 2.5;

.Videos {

  &-paragraph {
    centerY();
    top: 43%;
    left: -(paragraphWidth * 0.5);
    width: paragraphWidth;
    z-index: 1;

    +mobile() {
      width: 90%;
      position: relative;
      margin: 0 auto;
      transform: none;
      top: 0;
      left: 0;
    }
  }

  &-video {
    center();
    width: videoWidth;
    height: videoHeight;

    +mobile() {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
    }
  }
}
