
@import '../../../style/variables';
@import '../../../style/mixins';

videoWidth = 800px;
videoHeight = ((videoWidth * 56.25) / 100);
paragraphWidth = videoWidth / 2.5;

.Videos {
  position: relative;


  &-paragraph {
    centerY();
    top: 43%;
    left: -(paragraphWidth * 0.5);
    width: paragraphWidth;
    z-index: 1;
  }

  // HACK react-vimeo
  & .vimeo {
    center();
    width: videoWidth;
    height: videoHeight;
    padding: 0;
  }

}
