/**
*
* app/style/base.styl
* The base of your style
* It can also is your reset
*
**/

@import './variables'
@import './mixins'

w = (160px / 3)
h = (190px / 3)

html, body, #app {
  color: fontColor;
  width: 100%;
  height: 100%;
  font-family: 'circularstd';
  letter-spacing: 3px;
  overflow: hidden;
  font-size: 0.9em;
}

html, body, ul, p, h1, h2, h3, button, input {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 5em;
  letter-spacing: 0.25em;
  font-family: 'circularstd-medium';
}

a {
    text-decoration: none;
    color: fontColor;
}

p {
  letter-spacing: 0.20em;
  line-height: 1.4em;
}

li {
  list-style-type: none;
}

strong {
  color: markColor;
  text-transform: capitalize;
}

button, input {
  background-color: transparent;
  border: none;
  font: inherit;
  line-height: normal;
  outline: none;
}


// GENERIC
._layout {
  width: 100%;
  height: 100%;
}

._foreground {
  z-index: 99;
}

+mobile() {

  ._hidden_mobile {
    display: none;
  }
}
