/**
*
* app/style/variables.styl
* Here you can declare all utils variables
*
**/


// PATH
fontPath = "../assets/fonts/";
imgsPath = "../assets/imgs/";

// BASE
_margin = 16px;

// SIZE
navbarHeight = _margin*8;

// COLORS
fontColor = #5067BA;
fontColorSecondary = #B569AA;
markColor = #FF809A;
lineColor = #E4D3EB;
overlayColor = rgba(#F4F4FA, 0.5);
overlayColor_dark = rgba(#000021, 0.5);
shadowColor = #F4F4FA;
shadowColor_purple = rgba(lineColor, 0.5);
shadowColor_blue = #D2F2FF;
shadowColor_dark = #DBD8D8;
backgroundColor = #ffffff;
validColor = #00BBC7;
