@import '../../style/variables';
@import '../../style/mixins';

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: backgroundColor;

  &-link {


    &:hover, &:active {
      // TODO mettre le truc rouge la haut.
    }

  }
}
