@import '../../style/variables';
@import '../../style/mixins';

.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //height: navbarHeight - _margin*6;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: _margin * 3;
  background-color: backgroundColor;
  border-bottom: 1px solid lineColor;
  z-index: 9;

  +mobile() {
    display: none;
  }

  &-link {
    position: relative;
    width: 200px;
    text-transform: uppercase;

    &_right {
      align-self: flex-end;
      order: 1;
    }

    &_hidden {
      pointer-events: none;
      opacity: 0.4;
    }

    &:after {
      position: absolute;
      top: -(_margin);
      left: -(_margin);
      display: block;
      content: '';
      width: 0;
      height: (_margin/3);
      background-color: markColor;
      transition: 0.2s;
      opacity: 0;
    }

    &:hover, &:active {
      color: fontColor;

      &:after {
        width: _margin * 2;
        opacity: 1;
      }
    }

  }
}
