
@import '../../../style/variables';
@import '../../../style/mixins';

.Accueil {
  // LOGO
  &-logo {
    center();
    width: 80%;
    max-width: 710px;

    +mobile() {
      width: 90%;
    }
  }

  // SCROLL
  &-scrollIndicator {
    centerX();
    bottom: _margin * 4;
    text-align: center;
    text-transform: uppercase;
    color: fontColorSecondary;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    +mobile() {
      p {
        display: none;
      }
    }
  }

  &-mouse {
    position: relative;
    border: 3px solid fontColor;
    width: _margin;
    height: _margin * 2;
    border-radius: _margin;

    &:after {
      content: '';
      position: absolute;
      top: 7px;
      left: 6px;
      width: 3px;
      height: (_margin / 2);
      background-color: fontColor;
    }

    +mobile() {
      display: none;
    }
  }

  &-arrowDown{
    arrowDown(_margin/2, fontColorSecondary);
    animation: scrollDown 0.7s infinite alternate;
  }
}

@keyframes scrollDown {
  from {
    margin-top: _margin*0.5;
    margin-bottom: _margin*1.2;
  }
  to {
    margin-top: _margin*1.2;
    margin-bottom: _margin*0.5;
  }
}
